main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#bgImage {
    width: 600%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    animation-name: my-animation;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

#bg1, #bg2, #bg3, #bg4, #bg5, #bg6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#bgImage>section>div:first-child {
    height: 100%;
    width: 100%;
}

#bgImage>section>div:first-child>img {
    height: 100%;
    width: 100%;
    filter: brightness(70%);
}

.coins {
    position: absolute;
    width: 100px;
    height: 30px;
    display: flex;
}

#bg1 #c1 {
    top: 300px;
    left: 950px;
}

#bg1 #c2 {
    top: 400px;
    left: 1350px;
}

#bg2 #c3 {
    top: 250px;
    left: 1900px;
}

#bg2 #c4 {
    top: 450px;
    left: 2400px;
}

#bg2 #c5 {
    top: 200px;
    left: 2900px;
}

#bg3 #c6 {
    top: 350px;
    left: 3400px;
}

#bg3 #c7 {
    top: 450px;
    left: 3900px;
}

#bg3 #c8 {
    top: 220px;
    left: 4400px;
}

#bg4 #c9 {
    top: 380px;
    left: 4900px;
}

#bg4 #c10 {
    top: 180px;
    left: 5400px;
}

#bg4 #c11 {
    top: 450px;
    left: 5900px;
}

#bg5 #c12 {
    top: 290px;
    left: 6400px;
}

#bg5 #c13 {
    top: 400px;
    left: 6900px;
}

#bg6 #c14 {
    top: 200px;
    left: 7400px;
}

#bg6 #c15 {
    top: 340px;
    left: 7900px;
}

.coins>div {
    height: 30px;
    width: 30px;
}

.coins>div>img {
    height: 30px;
    width: 30px;
}

.enemies {
    position: absolute;
    width: 100px;
    height: 80px;
    top: 300px;
    left: 1400px;
}

.enemies>div {
    height: 80px;
    width: 80px;
}

.enemies>div>img {
    height: 80px;
    width: 80px;
}

#avatarImage {
    width: 150px;
    height: 80px;
    position: fixed;
    left: 50px;
    bottom: 150px;
    background: url("../../assets/images/avatar.gif");
    background-size: contain;
    background-position: center;
    z-index: 2;
}

@keyframes my-animation {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-75%);
    }
}