main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("../../assets/images/bg1.png");
    background-size: contain;
    background-position: center;
    filter: brightness(90%);
}

#bgImage {
    width: 600%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    animation-name: my-animation;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

.bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg>div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg>div:first-child {
    background: url("../../assets/images/background2.png");
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    animation-name: my-animation3;
    animation-direction: reverse;
    animation-duration: 20s;
}

.bg>div:nth-child(2) {
    background: url("../../assets/images/background4.png");
    background-size: cover;
    background-position: center;
    animation-name: my-animation3;
    animation-direction: reverse;
    animation-duration: 20s;
}

.bg>div:nth-child(3) {
    margin-left: 500px;
    background: url("../../assets/images/background4.png");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    z-index: 2;
}

.bg>div:nth-child(4) {
    background: url("../../assets/images/background5.png");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    z-index: 2;
}

.bg>div:nth-child(5) {
    background: url("../../assets/images/background6.png");
    background-size: cover;
    background-position: center;
}

#chest {
    width: 250px !important;
    height: 200px !important;
    bottom: 30px;
    background: url("../../assets/images/treasurebox.png");
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    z-index: 3;
}

#bgContent1, #enemyArea {
    position: absolute;
    height: 100%;
    width: 650%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-around;
    animation-name: my-animation1;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

#enemyArea {
    justify-content: space-evenly;
}

.coins {
    width: max-content;
    height: 30px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#c1, #c6, #c11 {
    margin-top: 300px;
}

#c2, #c7, #c12 {
    margin-top: 450px;
}

#c3, #c8, #c13 {
    margin-top: 200px;
}

#c4,#c9, #c14 {
    margin-top: 400px;
}

#c5, #c10, #c15 {
    margin-top: 500px;
}



.coins>div {
    height: 30px;
    width: 30px;
}

.coins>div>img {
    height: 30px;
    width: 30px;
}

.enemies {
    width: max-content;
    height: 100px;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

#e1 {
    margin-left: 700px;
    margin-top: 300px;
}

#e2 {
    margin-top: 430px;
}

#e3, #e4 {
    margin-top: 200px;
}

#e5 {
    margin-top: 430px;
}

.enemies>div {
    height: 100%;
    width: 200px;
}

.enemies>div>img {
    height: 100%;
    width: 200px;
}

#bgContent2 {
    position: absolute;
    height: 70%;
    width: 600%;
    top: 0;
    display: flex;
    flex-direction: row;
    animation-name: my-animation2;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-timing-function: linear;
}

#bgContent2>section {
    height: 100%;
    width: 100%;
}

#bgContent2>section>div {
    height: 100%;
    width: 100%;
}

#bgContent2>section>div>img {
    height: 100%;
    width: 100%;
    filter: brightness(95%);
}

#avatarImage {
    width: 110px;
    height: 95px;
    position: fixed;
    left: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../../assets/images/avatar1.gif");
    background-size: contain;
    background-position: center;
    filter: brightness(150%);
    z-index: 4;
}

@keyframes my-animation {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-75%);
    }
}

@keyframes my-animation1 {
    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-15);
    }

    40%{
        transform: translateX(-30);
    }

    60%{
        transform: translateX(-45);
    }

    80%{
        transform: translateX(-60);
    }

    100%{
        transform: translateX(-90%);
    }
}

@keyframes my-animation2 {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-75%);
    }
}

@keyframes my-animation3 {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-25%);
    }

    50%{
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(-75%);
    }
}